@model GameStore.ViewModels.EmployeeDashboardViewModel

@{
	ViewData["Title"] = "Dashboard Tổng quan";
	Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container py-5">
	<div class="dashboard-content">
		<h1>Chào mừng đến với Dashboard nhân viên</h1>
		<hr />
		<p>Sử dụng thanh điều hướng để xem và quản lý đơn hàng.</p>
	</div>
</div>